.team-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}