:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --text-and-background-color: #ffffff;
    --accent-collor: #2196f3;
    --icon-color: #afb1b8;
    --background-icon-color: #f5f4fa;
}